/* initial reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* set up basic fonts and colors */
html {
    font-family: VT323,monospace;
    line-height: 0.9em;
    font-size: 20px;
    background: black;
    color: white;
}

/* editable fields */
div[contenteditable$="true"] {
    outline: none;
}

div[contenteditable$="true"]:focus {
}

/* text styles */
.text-shadow {
    text-shadow: 1px 1px 0 black;
}

/* component styles */
.frame {
    background: #497582;
}

.black {
    background: black;
}

.text-highlight {
    color: #FFFF82;
}

.text-white {
    color: white;
}

.raised {
    border-left: 2px solid #8ADBF3;
    border-top: 2px solid #8ADBF3;
    border-right: 2px solid #18282C;
    border-bottom: 2px solid #18282C;
}

.raised-narrow {
    border-left: 1px solid #8ADBF3;
    border-top: 1px solid #8ADBF3;
    border-right: 1px solid #18282C;
    border-bottom: 1px solid #18282C;
}

.raised-v {
    border-top: 2px solid #8ADBF3;
    border-bottom: 2px solid #18282C;
}

.raised-v-narrow {
    border-top: 1px solid #8ADBF3;
    border-bottom: 1px solid #18282C;
}

.lowered {
    border-right: 1px solid #8ADBF3;
    border-bottom: 1px solid #8ADBF3;
    border-left: 1px solid #18282C;
    border-top: 1px solid #18282C;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.clip {
    overflow: hidden;
}

.v-center {
    top: 50%;
    transform: translate(0, -50%);
}

.h-center {
    left: 50%;
    transform: translate(-50%, 0);
}

.flex {
    display: flex;
}